#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 90vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-h1, .home-h3 {
  font-family: "Honk", sans-serif;
}