#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-div {
  justify-content: center;
}

.test-div {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 2rem;
}
